.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #5988ff;
    height: 400px;
    display: flex;
}

.footer-2 {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-around;
}

.footer-icons {
    gap: 30px;
    display: flex;
    
    a:hover {
        scale: 1.1;
    }
}

.impressum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-family: Montserrat;
    }
}

.impressum-fullscreen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1180px) {
    .footer {
        top: 100px;
    }
}

.upTag {
    margin-top: 50px;
    margin-left: 50px;
    display: block;
}

@media (max-width: 1024px) {
    .footer {
        width: 100%;
    }
}

@media (max-width: 431px) {
    .footer-2 {
        flex-direction: column;
    }
}