<a href="#iconUp" class="upTag"><img src="assets/icons/up.png"></a>
<div class="footer">
    <div class="footer-2">
        <img src="assets/icons/logo.png">
        <div class="impressum">
            <h2 style="font-family: Montserrat;">© Klinton Mita 2024</h2>
            <a href="#" id="impressumId" (click)="impressumFunction()">Impressum</a>
        </div>
        <div class="footer-icons">
            <a href="https://github.com/KlintonMita" target="_blank"><img src="assets/icons/gh.png"></a>
            <a href="#cont"><img src="assets/icons/eb.png"></a>
            <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit" target="_blank"><img src="assets/icons/lb.png"></a>
        </div>
    </div>
</div>