<div class="main" id="navId">
  <div class="main-photo-screen" id="mainPhotoID">
    <div class="photo-screen2">
      <div class="photo-screen">
        <div class="main-screen2">
          <div class="front-ball3">
            <img src="assets/e5.png" />
          </div>
          <img class="photo" src="assets/photo.png" />
        </div>
        <div class="hello-text2">
          <div id="divName" class="hello-name-text2">
            <h2 id="nameText" class="nameText">{{ hello }}</h2>
          </div>
          <div class="frontend-text2">
            <h1 class="frontend2">{{ frontend }}</h1>
            <h1 class="developer2">{{ developer }}</h1>
          </div>
          <div class="scroll2">
            <h2>{{ scroll }}</h2>
          </div>
          <div class="scroll-line2">
            <img src="assets/v1.png" />
          </div>
        </div>
        <div class="three-contact2">
          <a href="https://github.com/KlintonMita" target="blank"
            ><img src="assets/icons/gh.png"
          /></a>
          <a href="#cont"><img src="assets/icons/eb.png" /></a>
          <a
            href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit"
            target="blank"
            ><img src="assets/icons/lb.png"
          /></a>
        </div>
        <div class="front-ball2">
          <img src="assets/e5.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="navbar">
    <div class="icon" id="iconUp">
      <img src="assets/icons/logo.png" />
    </div>
    <div class="tabs">
      <a href="#work-tog" (click)="closeImpressum()">{{ aboutMe }}</a>
      <a href="#skillstag2" (click)="closeImpressum()">{{ skillSet }}</a>
      <a href="#myworktag2" (click)="closeImpressum()">{{ myWork }}</a>
      <div class="dropdown">
        <button class="dropbtn"><img src="assets/icons/icons8-english-96.png" id="engBtnSelected" />
          <img src="assets/icons/icons8-germany-96.png" id="gerBtnSelected"/></button>
        <div class="dropdown-content">
          <button (click)="eng()" class="btn" id="engBtn">
            <img src="assets/icons/icons8-english-96.png" />
          </button>
          <button (click)="de()" class="btn" id="gerBtn">
            <img src="assets/icons/icons8-germany-96.png" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="mySidenav" class="sidenav">
    <div class="dropdown">
      <button class="dropbtn drop2"><img src="assets/icons/icons8-english-96.png" id="engBtnSelected2" />
        <img src="assets/icons/icons8-germany-96.png" id="gerBtnSelected2"/></button>
      <div class="dropdown-content">
        <button (click)="eng2()" class="btn" id="engBtn2">
          <img src="assets/icons/icons8-english-96.png" />
        </button>
        <button (click)="de2()" class="btn" id="gerBtn2">
          <img src="assets/icons/icons8-germany-96.png" />
        </button>
      </div>
    </div>
    <span
      style="font-size: 30px; cursor: pointer"
      id="spanid"
      (click)="openNav()"
      >&#9776;</span
    >
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">X</a>
    <a (click)="closeNav()" (click)="closeImpressum()" href="#work-tog"
      >{{ aboutMe }}</a
    >
    <a (click)="closeNav()" (click)="closeImpressum()" href="#skillstag2"
      >{{ skillSet }}</a
    >
    <a (click)="closeNav()" (click)="closeImpressum()" href="#myworktag2"
      >{{ myWork }}</a
    >
    <a (click)="closeNav()" (click)="closeImpressum()" href="#cont">{{ contact }}</a>
  </div>
</div>
<div class="my-work3" id="workID">
  <app-my-work></app-my-work>
</div>
<div class="impressum">
  <app-impressum></app-impressum>
</div>
<div class="footer" id="footerID">
  <app-footer></app-footer>
</div>
