.main {
  display: flex;
  margin-bottom: 30px;
  background: linear-gradient(179.99deg, #ffffff 12.89%, #eaf0ff 91.39%);
  padding: 0px 0px 207px 0px;
}

.main-photo-screen {
  display: block;
  object-fit: contain;
  background-repeat: no-repeat;
  background-image: url("/assets/h1.jpg");
  width: 100%;
  display: flex;
}

.photo-screen2 {
  width: 100%;
  display: flex;
  flex: 1;
  .photo-screen {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}

.hello-text2 {
  right: 40px;
  top: 240px;
  position: relative;
}

.front-ball2 {
  position: absolute;
  img {
    top: 100px;
    position: relative;
  }
}

.three-contact2 {
  display: flex;
  flex-direction: column;
  top: 500px;
  position: relative;
  gap: 30px;
  right: 100px;
  a {
    width: 40px;
    height: 40px;
    gap: 10px;
    opacity: 0px;
    background: radial-gradient(
      74.22% 74.22% at 19.79% 22.42%,
      #5988ff 6.25%,
      #5988ff 51.56%,
      #0043f0 100%
    );
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a:hover {
    background-color: #0043f0;
    width: 45px;
    height: 45px;
  }
}

.main-screen2 {
  .photo {
    width: 761px;
    height: 917px;
    top: 208px;
    /* left: 300px; */
    gap: 0px;
    opacity: 0px;
    position: relative;
    object-fit: contain;
  }
}

.frontend-text2 {
  gap: 20px;
  display: flex;
  flex-direction: column;
  .frontend2 {
    color: #5988ff;
    font-family: Baloo;
    font-size: 115px;
    font-weight: 400;
    line-height: 153.6px;
    letter-spacing: -0.025em;
    text-align: left;
    height: 50px;
  }
  .developer2 {
    color: #5988ff;
    font-family: Baloo;
    font-size: 115px;
    font-weight: 400;
    line-height: 153.6px;
    letter-spacing: -0.025em;
    text-align: left;
    height: 50px;
  }
}

.hello-name-text2 {
  h2 {
    font-family: Baloo;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    text-align: left;
    color: #5988ff;
  }
}

.scroll2 {
  h2 {
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    text-align: left;
    color: #5988ff;
  }
}

.photo-screen {
  .main-screen2 {
    display: contents;
  }

  .hello-text2 {
    display: block;
  }
}

.scroll2 {
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  top: 130px;
}

.scroll-line2 {
  justify-content: center;
  display: flex;
  align-items: center;
  top: 122px;
  position: relative;
}

.front-ball2 {
  top: 900px;
}

.main-screen {
  padding: 0px 0px 207px 0px;
  width: 100%;
  top: -5px;
  gap: 0px;
  opacity: 0px;
  background: linear-gradient(179.99deg, #ffffff 12.89%, #eaf0ff 91.39%);
  scroll-behavior: smooth;
  overflow: hidden;
  position: absolute;
  display: none;
}

.sidenav {
  display: none;
  gap: 40px;
}

.main-img {
  background-image: url("/assets/h1.jpg");
  width: 892px;
  height: 892px;
  top: -71px;
  left: -130px;
  gap: 0px;
  opacity: 0px;

  .photo {
    width: 761px;
    height: 917px;
    top: 190px;
    left: 300px;
    gap: 0px;
    opacity: 0px;
    position: relative;
    object-fit: contain;
  }
}

.hello-text {
  position: absolute;
  top: 227px;
  right: 300px;
  gap: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 30px;
}

.hello-name-text {
  width: 645px;
  height: 61px;
  gap: 0px;
  opacity: 0px;
  color: #5988ff;

  h2 {
    font-family: Baloo;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    text-align: left;
  }
}

.frontend-text {
  width: 645px;
  height: 221px;
  gap: 0px;
  opacity: 0px;
  display: block;
  gap: 0;

  h1 {
    color: #5988ff;
    font-family: Baloo;
    font-size: 115px;
    font-weight: 400;
    line-height: 153.6px;
    letter-spacing: -0.025em;
    text-align: left;
    height: 50px;
  }
}

.frontend {
  width: 645px;
  height: 114px;
  top: 305px;
  left: 731px;
  gap: 0px;
  opacity: 0px;

  h1 {
    font-family: "Baloo";
  }
}

.developer {
  width: 609px;
  height: 110px;
  top: 416px;
  left: 731px;
  gap: 0px;
  opacity: 0px;
}

.navbar {
  position: absolute;
  top: 0;
  margin-top: 20px;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;

  .icon {
    margin-left: 35px;
  }
}

.tabs {
  width: 100%;
  justify-content: end;
  height: 32px;
  top: 42.5px;
  left: 938.5px;
  gap: 36px;
  opacity: 0px;
  display: flex;
  margin-right: 100px;
  align-items: center;

  a {
    width: auto;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: #5988ff;
    text-decoration: unset;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  a:hover {
    scale: 1.2;
    font-weight: 600;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
  }
}

.three-contact {
  width: 40px;
  height: 170px;
  top: 789px;
  gap: 25px;
  opacity: 0px;
  position: absolute;
  display: none;
  flex-direction: column;
  right: 0;
  margin-right: 130px;

  a {
    width: 40px;
    height: 40px;
    gap: 10px;
    opacity: 0px;
    background: radial-gradient(
      74.22% 74.22% at 19.79% 22.42%,
      #5988ff 6.25%,
      #5988ff 51.56%,
      #0043f0 100%
    );
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a:hover {
    background-color: #0043f0;
    width: 45px;
    height: 45px;
  }
}

.scroll {
  width: 95px;
  height: 28px;
  top: 700px;
  right: 0;
  position: absolute;
  margin-right: 400px;
  gap: 0px;
  opacity: 0px;
  display: none;

  h2 {
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    text-align: left;
    color: #5988ff;
  }
}

.scroll-line {
  width: 95px;
  height: 28px;
  top: 765px;
  right: 0;
  position: absolute;
  margin-right: 370px;
  gap: 0px;
  opacity: 0px;
  display: none;
}

.front-ball {
  position: relative;
  width: 206px;
  height: 206px;
  top: 980px;
  left: 628px;
  gap: 0px;
  opacity: 0px;
  display: none;
}

.my-work {
  margin-top: 30px;
}

.footer {
  position: relative;
}

.dropbtn {
  background-color: unset;
  border-style: none;
  border: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  img{
    width: 50px;
    height: 50px;
  }
}

.dropdown {
  position: relative;
  justify-content: center;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b4c9ff;
  min-width: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 50px;
}

.drop2 {
  #engBtnSelected2 {
    display: none;
  }
}

.dropdown-content .btn {
  color: black;
  padding: 4px 4px;
  text-decoration: none;
  display: block;
  border-style: none;
  background-color: unset;

  img {
    width: 50px;
    height: 50px;
  }
}

.dropdown-content .btn:hover {
  background-color: #5988ff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  scale: 1.2;
  font-weight: 600;
  height: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

#engBtn {
  display: none;
}
#gerBtnSelected {
  display: none;
}

.front-ball3 {
  display: none;
}

@media (max-width: 1367px) {
  .frontend-text2 {
    .frontend2 {
      font-size: 65px;
    }
    .developer2 {
      font-size: 65px;
    }
  }
  .photo-screen2 {
    .hello-text2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .hello-name-text2 {
    h2 {
      font-size: 45px;
      margin-left: 30px;
      width: 100%;
    }
  }
}

@media (max-width: 1210px) {
  .scroll2 {
    display: none;
  }
  .scroll-line2 {
    display: none;
  }
  .three-contact2 {
    display: none;
  }

  .photo-screen2 {
    .photo-screen {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    .hello-text2 {
      top: 200px;
    }
  }

  .main-screen2 {
    .photo {
      width: 100%;
    }
  }

  .hello-name-text2 {
    height: 50px;
    h2 {
      color: white;
    }
  }

  .frontend-text2 {
    .frontend2 {
      color: white;
    }
    .developer2 {
      color: white;
    }
  }

  .tabs {
    display: none;
  }

  .sidenav {
    display: flex;
    font-family: Baloo;
    flex-direction: column;
    flex: 1 1 0%;
    width: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #5988ff;
    overflow-x: hidden;
    transition: 0.5s;


    span {
      position: fixed;
      font-family: Baloo;
      right: 0;
      top: 0;
      margin-right: 20px;
      margin-top: 20px;
      scale: 1.5;
    }
  }

  .sidenav a {
    font-family: Baloo;
    text-decoration: none;
    font-size: 55px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #5988ff;
    background-color: white;
    border-radius: 30px;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 25px;
  }
  #navId {
    padding: 0;
  }

  .front-ball2 {
    top: 1050px;
    img {
      top: 170px;
    }
  }
  .main-photo-screen {
    background-size: 2000px;
    padding: 0px 0px 207px 0px;
  }
}

@media (max-width: 995px) {
  .main-photo-screen {
    background-size: 1800px;
  }
}

@media (max-width: 884px) {
  .main-photo-screen {
    background-size: 1640px;
  }
}

@media (max-width: 792px) {
  .main-photo-screen {
    background-size: 1500px;
  }
}

@media (max-width: 722px) {
  .main-photo-screen {
    background-size: 1380px;
  }
}

@media (max-width: 667px) {
  .main-photo-screen {
    background-position-x: -150px;
    background-size: 1580px;
  }
  .frontend-text2 {
    .frontend2 {
      font-size: 50px;
    }
    .developer2 {
      font-size: 50px;
    }
  }
  .hello-name-text2 {
    h2 {
      color: white;
      font-size: 35px;
    }
  }
}

@media (max-width: 618px) {
  .main-photo-screen {
    background-size: 1450px;
  }
}

@media (max-width: 583px) {
  .main-screen2 {
    .photo {
      height: auto;
    }
  }
}

@media (max-width: 555px) {
  .main-photo-screen {
    background-size: 1370px;
  }
  .front-ball2 {
    img {
      top: 130px;
    }
  }
}

@media (max-width: 515px) {
  .main-photo-screen {
    background-size: 1313px;
  }

  .front-ball2 {
    img {
      top: 100px;
    }
  }
}

@media (max-width: 488px) {
  .main-photo-screen {
    background-size: 1300px;
  }
  .frontend-text2 {
    margin-top: 30px;
    .frontend2 {
      line-height: 0;
    }
    .developer2 {
      line-height: 0;
    }
  }
  .hello-text2 {
    top: 60px;
    margin-right: 40px;
  }
}

@media (max-width: 481px) {
  .main-photo-screen {
    background-size: 1220px;
    padding: 0;
  }
  .front-ball2 {
    img {
      top: 50px;
    }
  }

  .front-ball2 {
    display: none;
  }

  .front-ball3 {
    display: flex;
    z-index: 1;
    top: 90px;
    position: relative;
  }
}

@media (max-width: 444px) {
  .main-photo-screen {
    background-size: 1100px;
  }
  .front-ball2 {
    img {
      top: 0px;
    }
  }

  .hello-text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 5px;
    right: 30px;
  }
}

@media (max-width: 388px) {
  .main-photo-screen {
    background-size: 1050px;
  }
  .front-ball3 {
    height: 130px;
    object-fit: contain;

    img {
      width: auto;
      object-fit: contain;
    }
  }

  .main-screen2 {
    .photo {
      top: 125px;
    }
  }
}

@media (max-width: 366px) {
  .main-photo-screen {
    background-size: 1010px;
  }
  .front-ball2 {
    top: 770px;
  }
  .hello-name-text2 {
    h2 {
      margin-left: 0;
      font-size: 30px;
    }
  }

  .hello-text2 {
    right: 20px;
  }
}

@media (max-width: 340px) {
  .main-photo-screen {
    background-size: 950px;
  }

  .photo-screen2 {
    .hello-text2 {
      top: 140px;
      right: 15px;
    }
  }
}

@media (max-width: 329px) {

  .photo-screen2 {
    .hello-text2 {
      right: 10px;
    }
  }
}
