.main-container {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  gap: 100px;
  width: 100%;
}

.work-together {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.two-parts {
  display: flex;
  align-items: center;
  width: 1440px;
  justify-content: space-around;
  a {
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    border: 2px solid rgba(89, 136, 255, 1);
  }

  a:hover {
    background: radial-gradient(#92c9ef, rgba(89, 136, 255, 1));
    color: white;
    scale: 1.1;
  }
}

.lets-work {
  width: 700px;
  h1 {
    font-family: Baloo;
    font-size: 80px;
    font-weight: 400;
    line-height: 121px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #5988ff;
  }
}

.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  h2 {
    width: 571px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
  }

  a {
    padding: 15px 30px 15px 30px;
    font-family: Montserrat;
    border-radius: 10px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid #5988ff;
    text-decoration: unset;
    color: black;
  }

  a:hover {
    background-color: #5988ff;
  }
}

.skills {
  background-image: radial-gradient(#5988ff, #5988fff0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.skill-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  h1 {
    font-family: Baloo;
    font-size: 96px;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
  }
}

.si2 {
  gap: 75px;
  display: flex;

  .siClass:hover {
    scale: 1.1;
  }

  img {
    width: 80px;
    height: 80px;
  }

  h2 {
    font-family: Montserrat;
    font-size: 16px;
    color: white;
  }
}

.siClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.si3 {
  display: none;
}

.si4 {
  display: none;
}

.si5 {
  display: none;
}

.si6 {
  display: none;
}

.my-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
  .my-work-ex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    h1 {
      font-family: Baloo;
      font-size: 96px;
      font-weight: 400;
      line-height: 96px;
      letter-spacing: 0.01em;
      text-align: left;
      color: #5988ff;
    }
    h2 {
      font-family: Montserrat;
      font-size: 23px;
      font-weight: 400;
      line-height: 27.6px;
      text-align: left;
      color: black;
    }
  }
}

.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.first-project {
  display: flex;
  gap: 35px;
  justify-content: space-around;
    width: 1440px;
  align-items: center;

  .project-explaining {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
  }

  img {
    width: 480px;
    height: auto;
    gap: 10px;
    opacity: 0px;
    box-shadow: 5px 5px 15px 0px #00000026;
  }

  img:hover {
    scale: 1.1;
  }

  a {
    width: Hug (137px) px;
    font-family: Montserrat;
    height: Hug (58px) px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 10px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid #5988ff;
    text-decoration: none;
    color: #5988ff;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
  }

  a:hover {
    background: radial-gradient(#92c9ef, rgba(89, 136, 255, 1));
    color: white;
    padding: 20px 35px 20px 35px;
  }

  h2 {
    width: 300px;
    height: 42.82px;
    gap: 0px;
    opacity: 0px;
    font-family: Baloo;
    font-size: 45px;
    font-weight: 400;
    line-height: 54px;
    text-align: left;
    color: #5988ff;
  }

  h3 {
    width: 499px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: #5988ff;
  }

  h4 {
    width: 531px;
    height: 57px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: black;
    margin-bottom: 35px;
  }
}

.second-project {
  display: flex;
  gap: 35px;
  justify-content: space-around;
    width: 1440px;
  align-items: center;

  .project-explaining2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
  }
  img {
    width: 480px;
    height: auto;
    gap: 10px;
    opacity: 0px;
    box-shadow: 5px 5px 15px 0px #00000026;
  }

  img:hover {
    scale: 1.1;
  }

  a {
    width: Hug (137px) px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    font-family: Montserrat;
    height: Hug (58px) px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 10px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid #5988ff;
    text-decoration: none;
    color: #5988ff;
  }

  a:hover {
    background: radial-gradient(#92c9ef, rgba(89, 136, 255, 1));
    color: white;
    padding: 20px 35px 20px 35px;
  }

  h2 {
    width: 300px;
    height: 42.82px;
    gap: 0px;
    opacity: 0px;
    font-family: Baloo;
    font-size: 45px;
    font-weight: 400;
    line-height: 54px;
    text-align: left;
    color: #5988ff;
  }

  h3 {
    width: 499px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: #5988ff;
  }

  h4 {
    width: 531px;
    height: 57px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: black;
    margin-bottom: 35px;
  }
}

.third-project {
  display: flex;
  gap: 35px;
  justify-content: space-around;
    width: 1440px;
  align-items: center;

  .project-explaining3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
  }

  img {
    width: 480px;
    height: auto;
    gap: 10px;
    opacity: 0px;
    box-shadow: 5px 5px 15px 0px #00000026;
  }

  img:hover {
    scale: 1.1;
  }

  a {
    width: Hug (137px) px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    font-family: Montserrat;
    height: Hug (58px) px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 10px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid #5988ff;
    text-decoration: none;
    color: #5988ff;
  }

  a:hover {
    background: radial-gradient(#92c9ef, rgba(89, 136, 255, 1));
    color: white;
    padding: 20px 35px 20px 35px;
  }

  h2 {
    width: 300px;
    height: 42.82px;
    gap: 0px;
    opacity: 0px;
    font-family: Baloo;
    font-size: 45px;
    font-weight: 400;
    line-height: 54px;
    text-align: left;
    color: #5988ff;
  }

  h3 {
    width: 499px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: #5988ff;
  }

  h4 {
    width: 531px;
    height: 57px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: black;
    margin-bottom: 35px;
  }
}

label {
  font-family: Montserrat;
}

.contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  flex: 1;
  display: flex;
  align-items: center;
  width: 1440px;
  gap: 100px;
  justify-content: center;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

  h1 {
    width: 321px;
    height: 108px;
    gap: 0px;
    opacity: 0px;
    font-family: Baloo;
    font-size: 90px;
    font-weight: 400;
    line-height: 108px;
    text-align: center;
    color: #5988ff;
  }

  h2 {
    width: 473px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
    color: #5988ff;
  }

  h3 {
    width: 473px;
    height: 57px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #000000;
    margin-top: 20px;
  }

  h4 {
    width: 473px;
    height: 22px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #5988ff;

    span {
      font-weight: bold;
    }
  }

  img {
    width: 204px;
    height: 204px;
    gap: 0px;
    opacity: 0px;
    margin-left: 100px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#name {
  width: 617px;
  height: 30px;
  padding: 15px 25px 15px 25px;
  gap: 10px;
  border-radius: 10px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border-color: #5988ff;
  font-size: 16px;
  font-family: Montserrat;
  border-width: thin;
}

#email {
  width: 617px;
  height: 30px;
  padding: 15px 25px 15px 25px;
  gap: 10px;
  border-radius: 10px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border-color: #5988ff;
  font-size: 16px;
  font-family: Montserrat;
  border-width: thin;
}

#message {
  width: 617px;
  border-width: thin;
  height: 202px;
  padding: 15px 25px 15px 25px;
  gap: 10px;
  border-radius: 10px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  resize: none;
  border-color: #5988ff;
  font-size: 16px;
  font-family: Montserrat;
}

button {
  width: 181px;
  height: 58px;
  padding: 15px 30px 15px 30px;
  gap: 10px;
  border-radius: 10px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  border: 2px solid #5988ff;
  text-decoration: none;
  color: #5988ff;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: Montserrat;
  align-self: center;
  background-color: white;
}

button:disabled {
  background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
  color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
  font-family: Montserrat;
}

button.valid:hover {
  background: radial-gradient(#92c9ef, rgba(89, 136, 255, 1));
  color: white;
  transform: scale(1.1);
  border: unset;
  font-family: Montserrat;
}

.alert {
  color: red;
  margin-top: 5px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-color: red;
}

#terms {
  cursor: pointer;
}

label {
  cursor: pointer;
}

.livetest {
  margin-left: 20px;
}

@media (max-width: 1440px) {
  .two-parts {
    width: 100%;
  }
  .first-project {
    width: 100%;
  }

  .second-project {
    width: 100%;
  }

  .third-project {
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }
}

@media (max-width: 1360px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .two-parts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .lets-work {
      width: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 1140px) {
  .first-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .project-explaining {
      width: 480px;

      h4 {
        width: 480px;
      }
    }
  }

  .second-project {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .project-explaining2 {
      width: 480px;

      h4 {
        width: 480px;
      }
    }
  }

  .third-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .project-explaining3 {
      width: 480px;

      h4 {
        width: 480px;
      }
    }
  }
}

@media (max-width: 730px) {
  .input-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #name {
      width: 100%;
      padding: 15px 0px 15px 0px;
    }

    #email {
      width: 100%;
      padding: 15px 0px 15px 0px;
    }

    #message {
      width: 100%;
      padding: 15px 0px 15px 0px;
    }

    form {
      width: 80%;
    }
  }

  .contact-form {
    width: 100%;
  }

  .contact-text {
    width: 80%;
    display: flex;
    align-items: center;

    img {
      margin-left: 0;
    }
  }

  .si2 {
    display: none;
  }

  .skills {
    height: auto;
  }

  .skill-img {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .skill-2 {
    h1 {
      font-size: 60px;
    }
  }

  .si3 {
    display: flex;
    gap: 20px;

    img {
      width: 100px;
    }

    h2 {
      font-family: Montserrat;
      font-size: 16px;
      color: white;
    }

    :hover {
      scale: 1.1;
    }
  }

  .si4 {
    display: flex;
    gap: 20px;

    img {
      width: 100px;
    }

    h2 {
      font-family: Montserrat;
      font-size: 16px;
      color: white;
    }
    :hover {
      scale: 1.1;
    }
  }

  .si5 {
    display: flex;
    gap: 20px;

    img {
      width: 100px;
    }

    h2 {
      font-family: Montserrat;
      font-size: 16px;
      color: white;
    }
    :hover {
      scale: 1.1;
    }
  }

  .si6 {
    display: flex;
    gap: 20px;

    img {
      width: 100px;
    }

    h2 {
      font-family: Montserrat;
      font-size: 16px;
      color: white;
    }
    :hover {
      scale: 1.1;
    }
  }

  .two-parts {
    width: 80%;
  }

  .explanation {
    width: 100%;

    h2 {
      width: 100%;
    }
  }

  .lets-work {
    h1 {
      font-size: 50px;
    }
  }

  .my-work-ex {
    width: 80%;
    height: auto;

    h2 {
      width: 66%;
    }

    #myworktag {
      font-size: 60px;
    }
  }
}

@media (max-width: 535px) {
  .skill-2 {
    h1 {
      font-size: 45px;
    }
  }

  .my-work {
    .my-work-ex {
      #myworktag {
        font-size: 45px;
      }
    }
  }

  .first-project {
    width: 80%;

    img{
      width: 100%;
    }

    .project-explaining {
      width: 100%;

      h2 {
        width: 100%;
      }

      h3 {
        width: 100%;
      }

      h4 {
        width: 100%;
        height: auto;
      }
    }
  }

  .second-project {
    width: 80%;

    img{
      width: 100%;
    }

    .project-explaining2 {
      width: 100%;

      h2 {
        width: 100%;
      }

      h3 {
        width: 100%;
      }

      h4 {
        width: 100%;
        height: auto;
      }
    }
  }

  .third-project {
    width: 80%;

    img{
      width: 100%;
    }

    .project-explaining3 {
      width: 100%;

      h2 {
        width: 100%;
      }

      h3 {
        width: 100%;
      }

      h4 {
        width: 100%;
        height: auto;
      }
    }
  }

  .contact-text {
    h1 {
      width: 100%;
      font-size: 60px;
      height: auto;
    }

    h2 {
      width: 100%;
      height: auto;
    }

    h3 {
      width: 100%;
      height: auto;
    }

    h4 {
      width: 100%;
      height: auto;
    }
  }
}