<div class="impressum" id="impressumId">
  <h1 style="font-family: Montserrat;">Impressum</h1>

  <p style="font-family: Montserrat;">
    Klinton Mita<br />
    Nonnenpfad 1<br />
    1<br />
    49074 Osnabrueck
  </p>

  <h2 style="font-family: Montserrat;">Kontakt</h2>
  <p style="font-family: Montserrat;">E-Mail: mitatoni22&#64;gmail.com</p>

  <p style="font-family: Montserrat;">
    Quelle:
    <a href="https://www.e-recht24.de/impressum-generator.html" style="font-family: Montserrat;"
      >https://www.e-recht24.de/impressum-generator.html</a
    >
  </p>
</div>
<div class="footer" id="footerIdImpressum">
    <div class="footer-2">
        <img src="assets/icons/logo.png">
        <div class="impressum-footer">
            <h2 style="font-family: Montserrat;">© Klinton Mita 2024</h2>
        </div>
        <div class="footer-icons">
            <a href="https://github.com/KlintonMita" target="_blank"><img src="assets/icons/gh.png"></a>
            <a href="#cont"><img src="assets/icons/eb.png"></a>
            <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit" target="_blank"><img src="assets/icons/lb.png"></a>
        </div>
    </div>
</div>
